@{
    Layout = null;
}

@model GuestContact

<p>Hello guest</p>

<form asp-controller="Home" asp-action="Contact3" method="post">

    <p>Name: <input asp-for="@Model.Name" /></p>
    <p>Email: <input asp-for="@Model.Email" /></p>
    <p>Phone number: <input asp-for="@Model.Phone" /></p>
    <p>Street Address: <input asp-for="@Model.Address" /></p>
    <p>City: <input asp-for="@Model.City" /></p>
    <p>State: <input asp-for="@Model.State" /></p>

    <button type="submit">Submit</button>

</form>